<div class="wrap-outer-footer-institute layout-band">
  <div class="wrap-footer-institute">
    <footer class="footer-info-institute" aria-label="MIT footer" role="contentinfo">
      <a class="link-logo-mit" href="https://www.mit.edu">
        <span class="sr">MIT</span>
        <img
          src="https://cdn.libraries.mit.edu/files/branding/local/mit_lockup_std-three-line_rgb_white.svg"
          alt="MIT logo"
          width="150"
        />
      </a>

      <div class="license">Content created by the MIT Libraries, <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a> unless otherwise noted. <a href="https://libraries.mit.edu/research-support/notices/copyright-notify/">Notify us about copyright concerns</a>.
      </div>
    </footer><!-- end .footer-info-institute -->
  </div>
</div>
