<div class="wrap-outer-footer layout-band">
  <div class="wrap-footer footer-slim">
    <div class="footer-main" aria-label="MIT Libraries footer">
      <div class="identity">
        <div class="wrap-logo-lib">
          <a href="https://libraries.mit.edu" class="logo-mit-lib">
              <span class="sr">MIT Libraries home</span>
              <img
                src="https://cdn.libraries.mit.edu/files/branding/local/mitlib-wordmark.svg"
                alt="MIT Libraries logo"
                width="150"
              />
            </a>
        </div>
       
        <div class="wrap-middle">
          <div class="wrap-policies">
            <nav aria-label="MIT Libraries policy menu">
              <span class="item"><a href="https://libraries.mit.edu/privacy" class="link-sub">Privacy</a></span>
              
              <span class="item"><a href="https://libraries.mit.edu/permissions" class="link-sub">Permissions</a></span>
              
              <span class="item"><a href="https://libraries.mit.edu/accessibility" class="link-sub">Accessibility</a></span>
                            
              <span class="item"><a href="https://libraries.mit.edu/contact" class="link-sub">Contact us</a></span>

            </nav>
          </div>
        </div>
      </div><!-- end .identity -->
    </div>
  </div>
</div>
