<div class="wrap-outer-header-local layout-band">
  <div class="wrap-header-local">
    <div class="local-identity">
      <h2 class="title title-site"><a href="/">Site Title</a></h2>
    </div>
    <div class="wrap-local-nav">
      <div class="wrap-bar">
        <nav class="local-nav" aria-label="Main menu">
          <%= nav_link_to("Home", root_path) %>

          Psst. You may want to copy this file out of the gem and do your thing.
        </nav>
      </div>
    </div>
  </div>
</div>
